<a href="https://colab.research.google.com/github/ekramasif/Basic-Machine-Learning/blob/main/Regression/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
print(X_train)

[[46426.07 157693.92 210797.67 'California']
 [91749.16 114175.79 294919.57 'Florida']
 [130298.13 145530.06 323876.68 'Florida']
 [119943.24 156547.42 256512.92 'Florida']
 [1000.23 124153.04 1903.93 'New York']
 [542.05 51743.15 0.0 'New York']
 [65605.48 153032.06 107138.38 'New York']
 [114523.61 122616.84 261776.23 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [63408.86 129219.61 46085.25 'California']
 [78013.11 121597.55 264346.06 'California']
 [23640.93 96189.63 148001.11 'California']
 [76253.86 113867.3 298664.47 'California']
 [15505.73 127382.3 35534.17 'New York']
 [120542.52 148718.95 311613.29 'New York']
 [91992.39 135495.07 252664.93 'California']
 [64664.71 139553.16 137962.62 'California']
 [131876.9 99814.71 362861.36 'New York']
 [94657.16 145077.58 282574.31 'New York']
 [28754.33 118546.05 172795.67 'California']
 [0.0 116983.8 45173.06 'California']
 [162597.7 151377.59 443898.53 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [77044.01 99281.34 140574.81 'New York']
 [134615.46 147198.87 127716.82 'California']
 [67532.53 105751.03 304768.73 'Florida']
 [28663.76 127056.21 201126.82 'Florida']
 [78389.47 153773.43 299737.29 'New York']
 [86419.7 153514.11 0.0 'New York']
 [123334.88 108679.17 304981.62 'California']
 [38558.51 82982.09 174999.3 'California']
 [1315.46 115816.21 297114.46 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [165349.2 136897.8 471784.1 'New York']
 [0.0 135426.92 0.0 'California']
 [22177.74 154806.14 28334.72 'California']]

In [ ]:
print(y_train)

[ 96712.8  124266.9  155752.6  132602.65  64926.08  35673.41 101004.64
 129917.04  99937.59  97427.84 126992.93  71498.49 118474.03  69758.98
 152211.77 134307.35 107404.34 156991.12 125370.37  78239.91  14681.4
 191792.06 141585.52  89949.14 108552.04 156122.51 108733.99  90708.19
 111313.02 122776.86 149759.96  81005.76  49490.75 182901.99 192261.83
  42559.73  65200.33]

In [ ]:
print(X_test)

[[66051.52 182645.56 118148.2 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [27892.92 84710.77 164470.71 'Florida']
 [153441.51 101145.55 407934.54 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [20229.59 65947.93 185265.1 'New York']
 [61136.38 152701.92 88218.23 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [142107.34 91391.77 366168.42 'Florida']
 [55493.95 103057.49 214634.81 'Florida']
 [46014.02 85047.44 205517.64 'New York']
 [75328.87 144135.98 134050.07 'Florida']]

In [ ]:
print(y_test)

[103282.38 144259.4  146121.95  77798.83 191050.39 105008.31  81229.06
  97483.56 110352.25 166187.94  96778.92  96479.51 105733.54]

## Feature Scaling (Write appropriate code for feature scaling)

In [ ]:
print(X_train)

[[46426.07 157693.92 210797.67 'California']
 [91749.16 114175.79 294919.57 'Florida']
 [130298.13 145530.06 323876.68 'Florida']
 [119943.24 156547.42 256512.92 'Florida']
 [1000.23 124153.04 1903.93 'New York']
 [542.05 51743.15 0.0 'New York']
 [65605.48 153032.06 107138.38 'New York']
 [114523.61 122616.84 261776.23 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [63408.86 129219.61 46085.25 'California']
 [78013.11 121597.55 264346.06 'California']
 [23640.93 96189.63 148001.11 'California']
 [76253.86 113867.3 298664.47 'California']
 [15505.73 127382.3 35534.17 'New York']
 [120542.52 148718.95 311613.29 'New York']
 [91992.39 135495.07 252664.93 'California']
 [64664.71 139553.16 137962.62 'California']
 [131876.9 99814.71 362861.36 'New York']
 [94657.16 145077.58 282574.31 'New York']
 [28754.33 118546.05 172795.67 'California']
 [0.0 116983.8 45173.06 'California']
 [162597.7 151377.59 443898.53 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [77044.01 99281.34 140574.81 'New York']
 [134615.46 147198.87 127716.82 'California']
 [67532.53 105751.03 304768.73 'Florida']
 [28663.76 127056.21 201126.82 'Florida']
 [78389.47 153773.43 299737.29 'New York']
 [86419.7 153514.11 0.0 'New York']
 [123334.88 108679.17 304981.62 'California']
 [38558.51 82982.09 174999.3 'California']
 [1315.46 115816.21 297114.46 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [165349.2 136897.8 471784.1 'New York']
 [0.0 135426.92 0.0 'California']
 [22177.74 154806.14 28334.72 'California']]

In [ ]:
print(X_test)

[[66051.52 182645.56 118148.2 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [27892.92 84710.77 164470.71 'Florida']
 [153441.51 101145.55 407934.54 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [20229.59 65947.93 185265.1 'New York']
 [61136.38 152701.92 88218.23 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [142107.34 91391.77 366168.42 'Florida']
 [55493.95 103057.49 214634.81 'Florida']
 [46014.02 85047.44 205517.64 'New York']
 [75328.87 144135.98 134050.07 'Florida']]

## Training the Logistic Regression model on the Training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)
#classifier.fit(X_train, y_train)

## Predicting a new result

In [ ]:
print(classifier.predict(sc.transform([[30,87000]])))

## Predicting the Test set results

In [ ]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

## Visualising the Training set results

In [ ]:
from matplotlib.colors import ListedColormap
X_set, y_set = sc.inverse_transform(X_train), y_train
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 10, stop = X_set[:, 0].max() + 10, step = 0.25),
                     np.arange(start = X_set[:, 1].min() - 1000, stop = X_set[:, 1].max() + 1000, step = 0.25))
plt.contourf(X1, X2, classifier.predict(sc.transform(np.array([X1.ravel(), X2.ravel()]).T)).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1], c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Training set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

## Visualising the Test set results

In [ ]:
from matplotlib.colors import ListedColormap
X_set, y_set = sc.inverse_transform(X_test), y_test
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 10, stop = X_set[:, 0].max() + 10, step = 0.25),
                     np.arange(start = X_set[:, 1].min() - 1000, stop = X_set[:, 1].max() + 1000, step = 0.25))
plt.contourf(X1, X2, classifier.predict(sc.transform(np.array([X1.ravel(), X2.ravel()]).T)).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1], c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Test set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()