<a href="https://colab.research.google.com/github/ekramasif/Basic-Machine-Learning/blob/main/Associative%20Rule%20Learning/Apriori_Algorithm_using_the_Groceries_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Apriori Algorithm using the Groceries Dataset**

In [ ]:
#External package need to install
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
#import all required packages..
import pandas as pd
import numpy as np
from apyori import apriori

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/groceries.csv', header= None)
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#replacing empty value with 0.
df.fillna(0,inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tropical fruit,yogurt,coffee,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,whole milk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,pip fruit,yogurt,cream cheese,meat spreads,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,other vegetables,whole milk,condensed milk,long life bakery product,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9835 entries, 0 to 9834
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9835 non-null   object
 1   1       9835 non-null   object
 2   2       9835 non-null   object
 3   3       9835 non-null   object
 4   4       9835 non-null   object
 5   5       9835 non-null   object
 6   6       9835 non-null   object
 7   7       9835 non-null   object
 8   8       9835 non-null   object
 9   9       9835 non-null   object
 10  10      9835 non-null   object
 11  11      9835 non-null   object
 12  12      9835 non-null   object
 13  13      9835 non-null   object
 14  14      9835 non-null   object
 15  15      9835 non-null   object
 16  16      9835 non-null   object
 17  17      9835 non-null   object
 18  18      9835 non-null   object
 19  19      9835 non-null   object
 20  20      9835 non-null   object
 21  21      9835 non-null   object
 22  22      9835 non-null   object
 23  23      9835 non-null   object
 24  24      9835 non-null   object
 25  25      9835 non-null   object
 26  26      9835 non-null   object
 27  27      9835 non-null   object
 28  28      9835 non-null   object
 29  29      9835 non-null   object
 30  30      9835 non-null   object
 31  31      9835 non-null   object
dtypes: object(32)
memory usage: 2.4+ MB

In [ ]:
#for using aprori need to convert data in list format..
# transaction = [['apple','almonds'],['apple'],['banana','apple']]....
transactions = []
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(1,32) if str(df.values[i,j])!='0'])
transactions[0]

['semi-finished bread', 'margarine', 'ready soups']

In [ ]:
#Call apriori function which requires minimum support, confidance and lift, min length is combination of item default is 2".
rules = apriori(transactions,min_support=0.003,min_confidance=0.2,min_lift=3,min_length=2)
rules
# # all rules need to be converted in a list..
# Results = list(rules)
# Results

# Store rules in result variable
results = list(rules)

# See the items that were bought together with their support
# results_list = []
# for i in range(0, len(results)):
#     results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [ ]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

'''Sortted by Support'''

resultsinDataFrame.sort_values('Support', ascending=True)

       Left Hand Side     Right Hand Side   Support  Confidence      Lift
241            grapes    other vegetables  0.003050    0.198675  8.141556
151      citrus fruit     root vegetables  0.003050    0.083102  4.026173
268  other vegetables          newspapers  0.003050    0.020790  3.245553
263  other vegetables             napkins  0.003050    0.020790  3.051789
262  other vegetables             napkins  0.003050    0.020790  3.098028
..                ...                 ...       ...         ...       ...
313  other vegetables  whipped/sour cream  0.013320    0.090783  3.246733
64          pip fruit      tropical fruit  0.013625    0.286938  5.130971
69    root vegetables      tropical fruit  0.014438    0.181122  3.238799
301  other vegetables     root vegetables  0.018709    0.127512  3.344218
61   other vegetables     root vegetables  0.037011    0.252252  3.164414

[397 rows x 5 columns]